* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 800px;
  border-top: 4px solid #4169e1;
  padding: 0 2em;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1em;
}
.head .left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.head .left .list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 150px;
}
.head .left .list span {
  font-size: 0.6rem;
}
.head .left .list span:first-child {
  font-weight: 600;
  font-size: 0.9rem;
  color: #4169e1;
}
.head .right .imageHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
  background-color: rgba(65, 105, 225, 0.2509803922);
}
.head .right .imageHolder span {
  color: #4169e1;
  font-weight: 600;
}
.head .right .imageHolder img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

.billTo {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.billTo .billList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.billTo .billList p {
  font-size: 0.6rem;
  margin: 0;
  padding: 0;
}
.billTo .billList p:first-child {
  font-size: 0.7rem !important;
}
.billTo .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.billTo .right p {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}

.invoiceTable {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.invoiceTable .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 0.5rem;
}
.invoiceTable .row:nth-child(odd) {
  background-color: rgba(65, 105, 225, 0.1882352941);
}
.invoiceTable .row:last-child {
  border: none;
}
.invoiceTable .row * {
  font-size: 0.6rem;
}
.invoiceTable .row .col1 {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.invoiceTable .row .col1 p {
  margin: 0;
}
.invoiceTable .row .col2,
.invoiceTable .row .col3,
.invoiceTable .row .col4 {
  width: 13.3333333333%;
  text-align: right;
}
.invoiceTable .rowHead {
  background-color: #4169e1 !important;
}
.invoiceTable .rowHead * {
  font-weight: 600;
  color: #fff;
}

.summary {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}
.summary .summarylist {
  width: 35%;
}
.summary .summarylist .list {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0;
}
.summary .summarylist .list .col {
  font-size: 0.6rem;
  margin: 0;
  padding: 0;
}
.summary .summarylist .list .boldCol {
  text-transform: uppercase;
}

.footer {
  margin-top: 0.9rem;
}
.footer p {
  font-size: 0.6rem;
}/*# sourceMappingURL=style.css.map */